<!DOCTYPE html>
<html ng-app="nodeChat">
  <head>
    <title>ExpressChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00B7FF;
      }

      ul {
        list-style-type: none;
        padding-left: 10px;
      }

      .container {
        max-width: 400px;
        background-color: #eeeeee;
        border: 1px solid black;
      }

      .header {
        text-align: center;
      }
      hr{
        color: black;
        margin: 10px 0;
        border-top: solid 1px black;
      }
    </style>
  </head>
  <body ng-controller="mainController">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1001237643242798',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
      
      <div class="header">
        <h1>ExpressChat</h1>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
        <hr>
        <h1 class="lead">Michael Swanson</h1>
      </div>

      <div class="todo-list">
        <ul ng-repeat="message in messageData">
          <li>{{ message.text }}&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-click="deleteMessage(message.id)">Delete</li><hr></hr>
        </ul>
      </div>  

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Send a message..." ng-model="formData.text">
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createMessage()">Enter</button></br>&nbsp;
        </form>
      </div>

      <div id="signup_form">
        <p>SIGN UP</p>
        <form>
            <div>
                <label>Username:</label>
                <input class="form-control input-lg" type="text" name="username" ng-model="userData.displayName"/>
            </div>
            <div>
                <label>Password:</label>
                <input class="form-control input-lg" type="password" name="password" ng-model="userData.password"/>
            </div>
            <div>
                <label>Provider</label>
                <input class="form-control input-lg" type="provider" name="provider" ng-model="userData.provider"/>
            </div>
            <div>
                &nbsp;</br><input class="btn btn-primary btn-lg" type="submit" value="Sign Up" ng-click="createUser()"/>
            </div>
        </form>
      </div>
      <form>
        <p><br/>Login</p>
        <div>
            <label>Username:</label>
            <input class="form-control input-lg" type="text" name="username" ng-model="userData.username"/>
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control input-lg" type="password" name="password" np-model="userData.password"/>
        </div>
        <div>
            &nbsp;</br><input class="btn btn-primary btn-lg" type="submit" value="Log In" ng-click="authenticateUser()"/>
        </div>
    </form>
    <br/>
    <!-- <input class="btn btn-primary btn-lg" type="submit" value="FB Log in" ng-click="fBAuthenticate()"/> -->
    </div>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://www.promisejs.org/polyfills/promise-done-7.0.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>